---
title: Media
template: default.hbs
sequence: 1
published: true
includeMetadata:
- fileLinks.json
lightbox: true
customMetaDescription: "Download media files (e.g. papers, software, resume) by Mario Ranftl from this media page."
customMetaKeywords:
- media
- download
- thesis
- papers
- software
- resume
---

<div class="row">
  <div class="col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0">
    {{#each fileLinks}}
      {{#if_even @index}}
        {{> mediaThumbnail}}
      {{/if_even}}
    {{/each}}
  </div>
  <div class="col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0">
    {{#each fileLinks}}
      {{#if_even @index}}
      {{else}}
        {{> mediaThumbnail}}
      {{/if_even}}
    {{/each}}
  </div>
</div>