// more fontsizes
@font-size-medium: ceil((@font-size-base * 1.07));
@font-size-mediumer: ceil((@font-size-base * 1.15));
@default-font-weight: 400;

// positioning
@header-nav-height: 50px;
@header-bar-height: 27px;
@footer-height: 300px;

// kuler: http://adobe.ly/1pQDrKG
// @color-bg: #fff;
// @color-nav-bg: #EFF0EC;
// @color-links: #51BBB2;
// @color-nav: #188A8E;
// @color-text-selection: lighten(@color-links, 20%);

// kuler: http://adobe.ly/1Aug6UL
// @color-bg: #fff;
// @color-nav-bg: #D2F3F1;
// @color-links: #05ACC2;
// @color-nav: #02658C;
// @color-text-selection: lighten(#68C088, 10%);

// kuler: http://adobe.ly/1Aug6UL
@color-bg: #fff;
@color-main-1: #02658C;
@color-main-2: #05ACC2;
@color-main-3: #D2F3F1;

@color-nav-bg: fade(mix(@color-main-2, #00f, 99%), 10%); // 1
@color-links: #139dc1; //fade(mix(@color-main-2, #00f, 99%), 80%);
@color-nav: @color-main-1;
@color-text-selection: lighten(#68C088, 10%);

// colors
@color-text: #333; //#516473;
@color-head: #333; //#516473;

// general dependent colors

@color-nav-bg-hover: fade(mix(@color-main-2, #00f, 99%), 20%);
@color-nav-hover: @color-main-1;
@color-nav-bg-active: fade(mix(@color-main-2, #00f, 99%), 43.33%);  // 2
@color-nav-active: @color-main-1;

@color-footer: @color-main-3;
@color-footer-bg: @color-main-1;
@color-footer-links: mix(@color-main-2, #00f, 95%);
@color-footer-links-hover: lighten(@color-footer-links, 10%);

@color-links-hover: #7bd9f2; //@color-main-1;
@color-links-bg-hover: transparent; //fade(mix(@color-main-2, #00f, 99%), 10%);

@color-navbar-mobile-toggle-bars: @color-nav;
@color-navbar-mobile-toggle-bars-active: @color-links;
@color-navbar-mobile-toggle-bg-hover: transparent;

@color-nav-mobile-breadcrumb-active: @color-nav-bg-active;

@color-nav-note-breadcrumb-bg: fade(mix(@color-main-2, #00f, 99%), 50%); // 3
@color-nav-note-breadcrumb-active: #fff;
@color-nav-note-breadcrumb-a: @color-nav;
@color-nav-note-breadcrumb-hover: @color-footer;

@color-note-pager-hover: @color-links-hover;
@color-note-pager-bg-hover: @color-links-bg-hover;

@color-gray-lighter: @color-nav-bg;

@color-nprogress: @color-main-1; //@color-nav;

@color-text-selection-unfocused: lighten(@color-text-selection, 30%);

@color-button-bg-hover: @color-links-bg-hover;
@color-button-hover: @color-links;
@color-button: @color-main-1;