// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// global variables

@import "define.less";


// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// all other imports in proper sequence

@import "fonts.less"; // holds text and symbol fonts
@import "bootstrap.less"; // import customized bootstrap
@import (inline) "github.css"; // from highlight.js
@import "nprogress-custom.less"; // small progress bar
@import "responsive-text-align.less"; // more options to align text in responsive manner
@import "responsive-embed.less"; // make all images, videos and audio responsive at anytime
@import "header-crossbars.less"; // headers with crossbars styles
@import "hr-style.less"; // custom hr style
@import "anchorAnimation.less"; // flicker when clicking on anchors
@import "remove-collapse.less"; // remove bootstrap collapse nav animation
@import "text-selection.less"; // custom text selection colors
@import "helpers.less"; // some font-size and positioning helpers
@import "heading-anchor.less"; // provide a clickable anchor to all headings

// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// hacks

// always show vertical scrollbar
body {
  overflow-y: scroll;
}

// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// defaults
body {
  font-weight: @default-font-weight;
}


// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// modernizr detection fallbacks

// no-js fallback: for mobile devices without javascript to uncollapse navbar...
html.no-js .collapse {
  display: block;
}

// no-js fallback: hide the navbar toggle!
html.no-js .navbar-toggle {
  display: none;
}

html.no-js .navbar-fixed-top {
  position: relative; 
}


// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// global positioning

html {
  // position: relative; /* needed for footer! */
  height: 100%;
}

body {
  min-height: 100%;
  height: 100%;
}

#ajax-container { // ajax-container should act same as body!
  min-height: 100%;
  height: 100%;
}

.container-fluid {
  // max-width: 768px;
}

.template-note-header, .template-note-contents, .template-default {
  max-width: 720px; //30 = default padding
}

// .template-default, .template-note {
//   height: 100%;
// }

.template-default, .template-note  {
  padding-bottom: 20px;
}

.template-note {
  padding-top: 5px;
  transition-property: padding-top;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
}

@media (min-width: @grid-float-breakpoint) {
  .template-note {
    padding-top: 28px;
  }
}


// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// footer positioning

.block-footer {
  height: @footer-height; // set to 0 if we should always scroll to footer!
  width: 100%;
  min-height: @footer-height;
  position: fixed;
  bottom: 0px;
  z-index: -1; // always keep behind wrapper!
  font-size: @font-size-small;
  padding-top: @footer-text-padding-top;
}

#wrapper {
  z-index: 0;
  min-height: 100%;
}

#footer_push {
  position: absolute;
  height: @footer-height;
  width: 100%;
  z-index: -999;
}


// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// nav positioning & style

.block-header {
  min-height: @header-nav-height;
}

.block-noteBreadcrumb, .template-default-header-border {
  height: @header-bar-height;
}

.navbar {
  border: 0px;
  //z-index: @zindex-navbar;
  background: #fff;
  opacity: 0.95;
}

@media (max-width: @grid-float-breakpoint-max) {
  .navbar-nav > li {
    text-align: center;
  }
  .block-navBrand {
    padding-right: 0px;
  }
}

// mobile navbar button styling...

.navbar-toggle { // make nav toggle bigger for easier nav on mobile!
  padding-top: 17px;
  padding-right: 18px;
  padding-bottom: 15px;
  padding-left: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
}

// icon-bar styling (might be better to exchange with iconic bar!)

.navbar-toggle > .icon-bar {
  background-color: @color-navbar-mobile-toggle-bars-active !important;
  width: 18px;
}

.navbar-toggle:hover > .icon-bar, .navbar-toggle:focus > .icon-bar {
  background-color: @color-navbar-mobile-toggle-bars-active !important;
}

.collapsed > .icon-bar {
  background-color: @color-navbar-mobile-toggle-bars !important;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 3px;
}

.navbar-toggle .icon-bar {
  height: 3px;
  border-radius: 0px;
}

// .navbar-toggle-affix {
//   right: 0;
//   z-index: 1001;
// }

.navbar-collapse { // remove border from navbar collapse
  border-top: 0;
  box-shadow: none;
}


// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// colors and background styling

body {
  background: @color-bg;
}

#wrapper {
  background: @color-bg;
}

.block-footer {
  color: @color-footer;
  background: @color-footer-bg;
}

.block-header {
  
}

.block-noteBreadcrumb {
  background: @color-nav-note-breadcrumb-bg;
}


// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// font styling

pre {
  font-size: 65%;
}

@media (min-width: @screen-sm-min) {
  pre {
    font-size: 70%;
  }
}

code, kbd {
  font-size: 70%;
}

code {
  overflow-x: auto;
}

pre code {
  white-space: pre;
}

pre {
  word-wrap: normal;
}

blockquote {
  font-style: italic;
}

.template-note .contents > p:first-child { 
  // margin-bottom: 22px;
  //font-size: @font-size-medium; //17px;
  //font-weight: 400;
  //line-height: 1.4;
}

.template-note .contents > p:first-child:first-line { 
  line-height: 1.15;
}

// @media (min-width: @screen-sm-min) {
//   .template-note .contents > p:first-child {
    //font-size: @font-size-mediumer; //18px;
//   }
// }

.template-note .contents > p:first-child:first-letter { 
  text-transform: uppercase;
  font-size: 200%;
  color: @color-first-character;
}

.block-header {
  font-weight: 600;
}


// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// link styling

a:hover, a:focus {
  background: @color-links-bg-hover;
  text-decoration: none;
}

a:link, a:visited, a:hover, a:focus, a:active {
  transition-property: color, border-color, background;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
}

.block-footer a {
  color: @color-footer-links;
}

.block-footer a:hover, .block-footer a:focus {
  color: @color-footer-links-hover;
}

// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// button styling

.btn {
  border: none;
}

.btn:hover, .btn:focus {
  background: @color-button-bg-hover;
  color: @color-button-hover;
}


// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// template default styling

.template-default-header-border {
  height: 27px;
  background: @color-nav-note-breadcrumb-bg;
}

// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// template note styling

.template-note-header {
  //background: url(/assets/img/bg_main_tile_transparent.png) repeat;
  margin-bottom: 2px;
  padding-bottom: 4px;
}

.template-note-contents {
  padding-bottom: 50px;
}

.template-note-header-wrapper {
  // background: #eee;
  padding-top: 10px;
}


// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// block styling

.block-noteNavigator {
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  font-family: @font-family-narrow;
  font-size: @font-size-smaller;
  text-transform: uppercase;
  border-bottom: 1px solid;
  border-bottom-color: rgba(181,203,209,0.5);
  // font-weight: 300;
}

.block-noteNavigator > li > a {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 5px;
  padding-bottom: 3px;
  border: 0px;
}

.block-noteNavigator > li > a:hover, .block-noteNavigator > li > a:focus {
  color: @color-note-pager-hover;
}

.block-tagItem i, .block-tagItemHeader i {
  font-size: 80%;
}

.block-noteReadingInfo {
  color: @gray-light;
}

.block-noteLink, .block-noteDate, .block-tagItem, .block-noteReadingInfo, .block-noteAuthor {
  font-family: @font-family-narrow;
  text-transform: uppercase;
  font-size: @font-size-small;
  font-weight: 400;
}

.block-tagItemHeader {
  font-family: @font-family-narrow;
  text-transform: uppercase;
  font-weight: 400;
}

.block-navBrandMobile {
  font-family: @font-family-narrow;
}

.block-noteBreadcrumb {
  font-size: @font-size-smaller;
  font-family: @font-family-narrow;
}

.block-noteBreadcrumb .breadcrumb {
  margin-bottom: 0px;
  padding: 5px 0px 5px 0px;
  background: transparent;
}

.block-noteBreadcrumb .breadcrumb a {
  color: @color-nav-note-breadcrumb-a;
}

.block-noteBreadcrumb .breadcrumb a:hover, .block-noteBreadcrumb .breadcrumb a:focus {
  color: @color-nav-note-breadcrumb-hover;
  text-decoration: initial;
}

.block-navSubPage, .block-navSubPageActive {
  font-size: @font-size-smaller;
}

.block-navBrandMobile {
  padding: 17px 10px 14px 0px;
  color: @color-nav-mobile-breadcrumb-active;
  font-size: @font-size-smaller;
  height: 50px;
  float: left;
}

@media (min-width: @grid-float-breakpoint) {
  .block-navBrandMobile {
    display: none;
  }
}

.block-breadcrumbSeparator {
  color: #cccccc; 
  padding-left: 10px; 
  padding-right: 5px;
}

.block-socialShare > a.btn {
  min-width: 55px;
}

.block-firstparagraph p {
  margin: 0;
}

.block-navBrand {
  font-weight: 300;
}

.block-noteTitle {
  margin-top: 12px;
  margin-bottom: 0px;
}

.block-noteTitle > h1 {
  margin-top: 0px;
  margin-bottom: 5px;
}

.block-noteSubTitle > h5 {
  margin-top: 9px;
}

.block-noteItem h3 a {
  color: @color-head;
}

.block-navBrandImage {
  position: absolute;
  top: 0;
  left: 15px;
  //z-index: @zindex-navbar-fixed + 1000;
}

.block-navBrandText {
  padding-left: 52px;
}

// hack hack hack !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
// hack to test nav with item underline
@media (min-width: @grid-float-breakpoint) {
  .navbar-default .navbar-nav > li > a:hover, 
  .navbar-default .navbar-nav > li > a:focus {
    border-bottom: 2px solid;
    border-bottom-color: @color-main-2; 
    background-color: transparent;
    color: @color-main-2;
    padding-top: 11.5px;
    padding-bottom: 9.5px;
    transition: none;
  }

  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    border-bottom: 2px solid;
    border-bottom-color: @color-main-1; 
    background-color: transparent;
    padding-top: 11.5px;
    padding-bottom: 9.5px;
  }
}

// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// page only styling

// notes.hbs ----

.notes-article + .notes-article {
  margin-top: 25px;
}

.notes-article-inner {
  position: relative;
}
 
.notes-article-inner > a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none; /* No underlines on the link */
  z-index: 10; /* Places the link above everything else in the div */
  background-color: #FFF; /* Fix to make div clickable in IE */
  opacity: 0; /* Fix to make div clickable in IE */
  filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}

.notes-article-inner {
  transition-property: color, opacity, background;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
}

.notes-article-inner:hover {
  // color: #000;
  // color: @color-links-hover;
  opacity: 0.7;
  // background: fade(@color-links-hover, 5%);
}

.notes-article-inner:hover + p > .block-noteLink {
  color: @color-links-hover;
}


.headroom {
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}


@import "printStyles.less";