// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// global variables

@import "define.less";


// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// all other imports in proper sequence

@import "fonts.less"; // holds text and symbol fonts
@import "bootstrap.less"; // import customized bootstrap
@import (inline) "github.css"; // from highlight.js
@import "nprogress-custom.less"; // small progress bar
@import "responsive-text-align.less"; // more options to align text in responsive manner
@import "responsive-embed.less"; // make all images, videos and audio responsive at anytime
@import "header-crossbars.less"; // headers with crossbars styles
@import "hr-style.less"; // custom hr style
@import "anchorAnimation.less"; // flicker when clicking on anchors
@import "remove-collapse.less"; // remove bootstrap collapse nav animation
@import "text-selection.less"; // custom text selection colors
@import "helpers.less"; // some font-size and positioning helpers
@import "heading-anchor.less"; // provide a clickable anchor to all headings
@import "headroom.less"; // style headroom.js classes
@import "lined-separator.less"; // noteNavigator like style class, separates text without headings

// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// hacks

// always show vertical scrollbar
body {
  overflow-y: scroll;
}

// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// defaults
body {
  font-weight: @default-font-weight;
}


// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// modernizr detection fallbacks

// no-js fallback: for mobile devices without javascript to uncollapse navbar...
html.no-js .collapse {
  display: block;
}

// no-js fallback: hide the navbar toggle!
html.no-js .navbar-toggle {
  display: none;
}

html.no-js .navbar-fixed-top {
  position: relative; 
}

html.no-js .pushdown-header {
  padding-top: 0px;
}

html.no-js .block-emailLink:after {
  content: " (requires JavaScript)";
}


// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// global positioning

html {
  height: 100%;
}

body {
  min-height: 100%;
  height: 100%;
}

#ajax-container { // ajax-container should act same as body!
  min-height: 100%;
  height: 100%;
}

.template-default, .template-note-header, .template-note-contents, .template-note-footer {
  max-width: 720px; //30 = default padding
}

.template-default, .template-note  {
  padding-bottom: 20px;
}


// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// footer positioning

.block-footer {
  height: @footer-height; // set to 0 if we should always scroll to footer!
  width: 100%;
  min-height: @footer-height;
  position: fixed;
  bottom: 0px;
  z-index: -1; // always keep behind wrapper!
  font-size: @font-size-small;
  padding-top: @footer-text-padding-top;
}

#wrapper {
  z-index: 0;
  min-height: 100%;
}

#footer_push {
  position: absolute;
  height: @footer-height;
  width: 100%;
  z-index: -999;
}


// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// nav positioning & style

.pushdown-header {
  padding-top: @header-nav-height;
}

.block-header {
  min-height: @header-nav-height;
}

.navbar {
  // border: 1px solid transparent; // this border might fix ios header handling?
  border: none;
}

@media (max-width: @grid-float-breakpoint-max) {
  .navbar-nav > li {
    text-align: center;
  }
  .block-navBrand {
    padding-right: 0px;
  }

}

// mobile navbar button styling...

.navbar-toggle { // make nav toggle bigger for easier nav on mobile!
  padding-top: 17px;
  padding-right: 18px;
  padding-bottom: 15px;
  padding-left: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
}

// icon-bar styling (might be better to exchange with iconic bar!)

.navbar-toggle > .icon-bar {
  background-color: @color-navbar-mobile-toggle-bars-active !important;
  width: 18px;
}

.navbar-toggle:hover > .icon-bar, .navbar-toggle:focus > .icon-bar {
  background-color: @color-navbar-mobile-toggle-bars-active !important;
}

.collapsed > .icon-bar {
  background-color: @color-navbar-mobile-toggle-bars !important;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 3px;
}

.navbar-toggle .icon-bar {
  height: 3px;
  border-radius: 0px;
}

.navbar-collapse { // remove border from navbar collapse
  border-top: 0;
  box-shadow: none;
}

@media (min-width: @grid-float-breakpoint) {
  .navbar-nav.navbar-right:last-child {
    margin-right: -5px;
  }
}

// overwride default nav non collapsed with underline on below gridbreak devices
@media (min-width: @grid-float-breakpoint) {
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default .navbar-nav > li > a,
  .navbar-default .navbar-nav > li > a:hover, 
  .navbar-default .navbar-nav > li > a:focus {
    border-bottom: 2px solid;
    background-color: transparent;
    padding-top: 14px;
    padding-bottom: 7px;
    border-bottom-color: transparent;
    transition-property: color, border-bottom-color;
  }

  .navbar-default .navbar-nav > .active > a {
    border-bottom-color: @color-nav;
  }

  // always show hover even though it's currently active!
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default .navbar-nav > li > a:hover, 
  .navbar-default .navbar-nav > li > a:focus {
    border-bottom-color: @color-nav-hover-desktop; 
    color: @color-nav-hover-desktop;
  }
}

// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// colors and background styling

body {
  background: @color-bg;
}

#wrapper {
  background: @color-bg;
  display: block;
  position: relative;
}

#wrapper:after {
  content: "";
  background: url(/assets/img/grey.png);
  opacity: 0.33;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.block-footer {
  color: @color-footer;
  background: @color-footer-bg;
  .box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
}

.block-footer:after {
  content: "";
  opacity: 0.85;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}


// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// font styling

pre {
  font-size: 65%;
}

@media (min-width: @screen-sm-min) {
  pre {
    font-size: 70%;
  }
}

code, kbd {
  font-size: 70%;
}

code {
  overflow-x: auto;
}

pre code {
  white-space: pre;
}

pre {
  word-wrap: normal;
}

blockquote {
  font-style: italic;
}

.template-note .contents > p:first-child:first-line { 
  line-height: 1.15;
}

.template-note .contents > p:first-child:first-letter { 
  text-transform: uppercase;
  font-size: 200%;
  color: @color-first-character;
}

.block-header {
  font-weight: 600;
}

.jumbotron {
  margin-bottom: 0px;
}


// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// link styling

a:hover, a:focus {
  background: @color-links-bg-hover;
  text-decoration: none;
}

a:link, a:visited, a:hover, a:focus, a:active {
  transition-property: color, border-color, background;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
}

.block-footer a {
  color: @color-footer-links;
}

.block-footer a:hover, .block-footer a:focus {
  color: @color-footer-links-hover;
}

// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// button styling

.btn {
  border: none;
}

.btn:hover, .btn:focus {
  background: @color-button-bg-hover;
  color: @color-button-hover;
}


// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// template styling

// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// template default styling

.template-default h1.linedSeparator {
  margin-top: 23px;
  transition-property: margin-top;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
}

@media (min-width: @grid-float-breakpoint) {
  .template-default h1.linedSeparator {
    margin-top: 46px;
  }
}

// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// template note styling

.template-note-header {
  margin-bottom: 2px;
  padding-bottom: 4px;
}

.template-note-contents {
  padding-bottom: 50px;
}

.template-note-header-wrapper {
  padding-top: 15px;
  transition-property: padding-top;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
}

@media (min-width: @grid-float-breakpoint) {
  .template-note-header-wrapper {
    padding-top: 38px;
  }
}


// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// block styling

.block-noteNavigator {
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  font-family: @font-family-narrow;
  font-size: @font-size-smaller;
  text-transform: uppercase;
  border-bottom: 1px solid;
  border-bottom-color: rgba(181,203,209,0.5);
}

.block-noteNavigator > li > a {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 5px;
  padding-bottom: 3px;
  border: 0px;
}

.block-noteNavigator > li > a:hover, .block-noteNavigator > li > a:focus {
  color: @color-note-pager-hover;
}

.block-tagItem i, .block-tagItemHeader i {
  font-size: 80%;
}

.block-noteReadingInfo {
  color: @gray-light;
}

.block-noteCommentCount, .block-noteCommentCount a {
  color: @color-links-alternative;
}

.block-noteCommentCount a:hover, .block-noteCommentCount a:focus {
  color: @color-links-alternative-hover;
}

.block-noteLink, .block-noteDate, .block-tagItem, .block-noteReadingInfo, .block-noteAuthor, .block-noteCommentCount {
  font-family: @font-family-narrow;
  text-transform: uppercase;
  font-size: @font-size-small;
  font-weight: 400;
}

.block-tagItemHeader {
  font-family: @font-family-narrow;
  text-transform: uppercase;
  font-weight: 400;
}

.block-navPage, .block-navPageActive {
  font-family: @font-family-narrow;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
}

.block-navSubPage, .block-navSubPageActive {
  font-family: @font-family-narrow;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
}

.block-navBrandText {
  font-family: @font-family-sans-serif;
}

.block-footer {
  font-family: @font-family-sans-serif;
}

.block-navBrandMobile {
  font-family: @font-family-narrow;
  text-transform: uppercase;
}

.block-navBrandMobile {
  padding: 17px 10px 14px 0px;
  color: @color-nav-mobile-breadcrumb-active;
  font-size: @font-size-smaller;
  height: 50px;
  float: left;
  line-height: @line-height-base;
}

@media (min-width: @grid-float-breakpoint) {
  .block-navBrandMobile {
    display: none;
  }
}

.block-breadcrumbSeparator {
  color: #cccccc; 
  padding-left: 10px; 
  padding-right: 5px;
}

.block-socialShare > a.btn {
  min-width: 55px;
}

.block-firstparagraph p {
  margin: 0;
}

.block-navBrand {
  font-weight: 300;
}

.block-noteTitle {
  margin-top: 12px;
  margin-bottom: 0px;
}

.block-noteTitle > h1 {
  margin-top: 0px;
  margin-bottom: 5px;
}

.block-noteTitle > h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.block-noteSubTitle > h5 {
  margin-top: 9px;
}

.block-noteItem h3 a {
  color: @color-head;
}

.block-navBrandImage {
  z-index: @zindex-navbar-fixed + 2;
  position: absolute;
  top: 5px;
  left: 15px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  background: url(/assets/img/me_100x100.png) no-repeat;
  background-size: 40px 40px;
  box-shadow: 0 0 1px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, .8);
}

.block-navBrandImage img {
  width: 40px;
  height: 40px;
  opacity: 0;
  filter: alpha(opacity=0);
}

.block-navBrandText {
  padding-left: 42px;
  letter-spacing: -1px;
}

.block-footerBottomText {
  bottom: 5px;
  position: absolute;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  font-family: @font-family-monospace;
  font-size: 150%;
  cursor: pointer;
}

.block-noteArticleItem + .block-noteArticleItem {
  margin-top: 31px;
}

.block-noteArticleItem-inner {
  position: relative;
}
 
.block-noteArticleItem-inner > a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none; /* No underlines on the link */
  z-index: 10; /* Places the link above everything else in the div */
  background-color: #FFF; /* Fix to make div clickable in IE */
  opacity: 0; /* Fix to make div clickable in IE */
  filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}

.block-noteArticleItem-inner {
  // transform: scale(1);
  // transition-property: color, background, transform;
  transition-property: opacity;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
}

.block-noteArticleItem-inner:hover {
  // transform: scale(1.01);
  // background: fade(@color-footer-links, 20%);
  // background: fade(@color-nav, 95%); //fade(@color-nav-hover-desktop, 30%);
  // color: #fefefe;
  //color: #fff !important;
  //color: @color-main-3;
  opacity: 0.8;
}

.block-noteArticleItem-inner:hover + p > .block-noteLink {
  color: @color-links-hover;
}

.block-noteShare ul li a {
  min-width: 50px;
}

.block-noteShare ul {
  margin-top: 15px;
}

.block-noteShare ul li {
  margin-top: 10px;
}

.block-contactButtons ul li a {
  min-width: 65px;
}

.block-contactButtons ul {
  margin-top: 30px;
}

.block-contactButtons ul li {
  margin-top: 10px;
}

.block-noteLatest .block-noteArticleItem {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

.block-noteLatest > .linedSeparator {
  margin-bottom: 30px;
}

// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// page only styling

// index.hbs ----

.indexHeader {
  background: fade(@color-bg, 55%);
}

.index_bg_pusher {
  background: #eee;
  background-image: url('/assets/img/index_photo.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/img/index_photo_full_photoshoped_grey.jpg',sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/img/index_photo_full_photoshoped_grey.jpg', sizingMethod='scale')";
  // background-attachment: initial;
  // background-attachment: scroll;
  background-position: 49% 15%;
  background-attachment: scroll;
  height: 100vh;
  // max-height: 100%;
  width: 100%;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: @color-bg;
  position: relative;
}

// .index_bg_pusher:after {
//   content: "";
//   background: url(/assets/img/bg_main_tile_transparent.png);
//   opacity: 0.3;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   position: absolute;
//   z-index: 0;
// }

.index_img_footer {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.index_img_footer > a {
  transition-property: color;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
  color: @color-bg;
}

.index_img_footer > a:hover, .index_img_footer > a:focus {
  color: @color-links;
}

.index-text-wrap p {
  font-size: @font-size-base;
  font-weight: @default-font-weight;
}

.index-text-summary {
  font-size: 20px !important;
  margin-top: 30px;
}

@media (min-width: @grid-float-breakpoint) {
  .index-text-summary {
    font-size: 27px !important;
  }
}

.index_foot {
  // padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.index_main {
  padding-bottom: 0px !important;
}

@media screen and (min-width: @screen-sm-min) {
  .index_foot {
    // padding-top: 48px;
    padding-bottom: 48px;
  }
}

#index_overlay_wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@index_overlay_line_width: 1px;
.index_overlay_item {
  position: absolute;
  border-top: @index_overlay_line_width solid;
  border-top-color: rgba(181,203,209,0.8);
  font-family: @font-family-narrow;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  min-width: 100px;
  line-height: 1.3;
}

.index_overlay_item_left {
  text-align: left;
  padding-right: 25px;
}

.index_overlay_item_right {
  text-align: right;
  padding-left: 25px;
}

@index_overlay_dot_dim: 5px;
.index_overlay_dot {
  position: absolute;
  height: @index_overlay_dot_dim;
  width: @index_overlay_dot_dim;
  border-radius: @index_overlay_dot_dim;
  background: rgba(181,203,209,1);
  top: -(@index_overlay_dot_dim/2)-(@index_overlay_line_width/2);
}

.index_overlay_item_left .index_overlay_dot {
  right: -(@index_overlay_dot_dim/2);
}

.index_overlay_item_right .index_overlay_dot {
  left: -(@index_overlay_dot_dim/2);
}




// legal.hbs ----

// @media (min-width: @grid-float-breakpoint) {
//   .dl-horizontal dt {
//     width: 180px;
//   }
//   .dl-horizontal dd {
//     margin-left: 200px;
//   }
// }



@import "printStyles.less";