---
uid: page_index
title: About
template: plain.hbs
published: true
customHeaderClass: indexHeader
scripts:
- index.js
fullRootMetaTitle: true
sequence: 1
customMetaKeywords:
- index
- homepage
- home
- landing
- start
- whoami
- introduction
- about
styles:
- index.css
---
<div class="index_bg_pusher">

  <section>

    <h1 hidden>Photo of Mario Ranftl</h1>

    {{!-- <div id="index_overlay_wrapper" class="nonSelectable">
      <div class="index_overlay_item index_overlay_item_left" data-posX="1712" data-posY="504" hidden><span>hairdressers' worst nightmare</span><span class="index_overlay_dot"></span></div>
      <div class="index_overlay_item index_overlay_item_left" data-posX="1658" data-posY="978" hidden><span>sarcasm unit</span><span class="index_overlay_dot"></span></div>
      <div class="index_overlay_item index_overlay_item_left" data-posX="1707" data-posY="750" hidden><span>scepticism indicator</span><span class="index_overlay_dot"></span></div>
      <div class="index_overlay_item index_overlay_item_right" data-posX="1724" data-posY="875" hidden><span>solid sunglasses holder</span><span class="index_overlay_dot"></span></div>
      <div class="index_overlay_item index_overlay_item_right" data-posX="1750" data-posY="1108" hidden><span>reasoning support beard</span><span class="index_overlay_dot"></span></div>
    </div> --}}
    <span class="index_img_footer nonSelectable"><a href="#hello" class="smoothScroll"><i class="fa fa-chevron-circle-down fa-4x"></i></a></span>

  </section>
</div>



<main class="container-fluid">
<div class="jumbotron index_main">
  <section itemscope itemtype="http://data-vocabulary.org/Person">
    <!-- hidden google+ / image item prop meta -->
    <a href="https://plus.google.com/112833806336910098913" rel="publisher" hidden></a>
    <img itemprop="image" src="/assets/img/index_photo.jpg" hidden />
    <h1 id="hello" class="text-center letter-spacing-3">Hi!</h1>
    <h2 class="text-center letter-spacing-1 no-padding">I’m <span itemprop="name">Mario Ranftl</span>.</h2>
    <h4 class="text-center">A.k.a. majodev on The Internets.</h4>
    
    <div class="row index-text-wrap">
      <div class="col-md-offset-1 col-md-5 col-sm-6" data-markdown>
I'm an Austrian <span itemprop="title">IT professional</span> who holds a master's and bachelor's degree in [Information Management](http://www.fh-joanneum.at/aw/home/Studienangebot_Uebersicht/department_angewandte_informatik/~bpoe/aim/?lan=en) from FH JOANNEUM University of Applied Sciences, Graz, Austria. I speak both IT<sup><a href="#footnote-1">[1]</a></sup> and business<sup><a href="#footnote-2">[2]</a></sup> and currently live in <span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address"><a href="https://www.google.at/maps/place/Fehring+Hauptplatz/@46.9360454,16.0102458,18z/data=!4m2!3m1!1s0x476f02b94b31605f:0xeac5594c91555c1c"><span itemprop="locality">Fehring</span></a> (<span itemprop="region">Styria</span>, <span itemprop="country">Austria</span></span>).

This site is an experiment to write *and ramble on about* my life, code and Open Source software. 
      </div>
      <div class="col-md-5 col-sm-6" data-markdown>
I'm currently out of work, but expecting to get started full-time in the near future<sup><a href="#footnote-3">[3]</a></sup>. In the meantime, I'm very much into [Open Source collaboration](https://github.com/majodev) and contribute [here and there](https://osrc.dfm.io/majodev/). I love well documented, tested and maintainable code. At the very moment, my language of choice is JavaScript, but I've also had a hell of a time with Java, ActionScript 3, C, PHP and many others.
      </div>
    </div>
    <div class="row index-text-wrap">
      <div class="col-md-offset-1 col-md-5 col-sm-6" data-markdown>
Beware, I'm not a creative designer<sup><a href="#footnote-4">[4]</a></sup>, however I really like to work with these people. I am a reliable team player with excellent communication skills. Abstracting and optimizing lies in my very nature. Data modeling, code decoupling, applying design patterns, tooling, testing and deploying is what I do and love.
      </div>
      <div class="col-md-5 col-sm-6" data-markdown>
Apart from my professional life, I have a weakness for weird music<sup><a href="#footnote-5">[5]</a></sup>, hot 'n' spicy food, beautiful beaches and indie games. Additionally I play the guitar (poorly) and also read alot. Be that as it may I really love programming, even in my freetime.
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <hr class="small">
        <ul class="footnotes list-inline">
          <li><span id="footnote-1">[1]</span> Digital Media Technologies, Software Engineering, Network &amp; IT Security, ICT Applications, Data Modelling &amp; Systems and Operating Systems</li>
          <li><span id="footnote-2">[2]</span> Business Administration (e.g. Process &amp; Change Management, Business Model Canvas), Project Management and Soft &amp; Presentation Skills</li>
          <li><span id="footnote-3">[3]</span> Download my <a href="/CV/">CV</a> and <a href="#contact">contact</a> me.</li>
          <li><span id="footnote-4">[4]</span> But my GF <a href="http://nicoleeibel.at" rel="friend">Nicole Eibel</a> might be a fit. She keeps an eye on my visual design.</li>
          <li><span id="footnote-5">[5]</span> I'm a big <a href="http://en.wikipedia.org/wiki/Mike_Patton">Mike Patton</a> and <a href="http://en.wikipedia.org/wiki/Trent_Reznor">Trent Reznor</a> fan.</li>
        </ul>
      </div>
    </div>

  </section>
</div>

<div class="index_foot">
  <section>
    {{> noteLatest}}
  </section>
  <section>
    <h2 id="contact" class="linedSeparator">Contact</h2>
    {{> contactButtons}}
  </section>
</div>

</main>