---
uid: page_index
title: About
template: plain.hbs
published: true
customHeaderClass: indexHeader
scripts:
- index.js
---
<div class="index_bg_pusher">

  <div id="index_overlay_wrapper">
    <div class="index_overlay_item index_overlay_item_left" data-posX="1712" data-posY="504" hidden><span>hairdressers' worst nightmare</span><span class="index_overlay_dot"></span></div>
    <div class="index_overlay_item index_overlay_item_left" data-posX="1658" data-posY="978" hidden><span>sarcasm unit</span><span class="index_overlay_dot"></span></div>
    {{!-- <div class="index_overlay_item index_overlay_item_right" data-posX="1875" data-posY="660" hidden><span>lol</span><span class="index_overlay_dot"></span></div> --}}
    <div class="index_overlay_item index_overlay_item_left" data-posX="1707" data-posY="750" hidden><span>scepticism indicator</span><span class="index_overlay_dot"></span></div>
    <div class="index_overlay_item index_overlay_item_right" data-posX="1724" data-posY="875" hidden><span>solid sunglasses holder</span><span class="index_overlay_dot"></span></div>
    <div class="index_overlay_item index_overlay_item_right" data-posX="1750" data-posY="1108" hidden><span>reasoning support beard</span><span class="index_overlay_dot"></span></div>
    {{!-- <div class="index_overlay_item index_overlay_item_left" data-posX="2500" data-posY="1570" hidden><span>bag</span><span class="index_overlay_dot"></span></div> --}}
  </div>
  <span class="index_img_footer nonSelectable"><a href="#hello"><i class="fa fa-chevron-circle-down fa-3x"></i></a></span>

</div>

<div class="jumbotron index_main">

  <h1 id="hello" class="text-center letter-spacing-3">Hi<br><small>I’m Mario Ranftl</small></h1>
  
  <div class="text-left text-center-md row index-text-wrap">

    <div class="col-md-6 text-justify-md" data-markdown>
I'm an information manager and hold a master's (2014) and bachelor's (2011) degree from FH JOANNEUM Austria ([information management degree programme](http://www.fh-joanneum.at/aw/home/Studienangebot_Uebersicht/department_angewandte_informatik/~bpoe/aim/?lan=en)). My studies helped me become an IT generalist and covered both technical (e.g. network infrastructure & security, application development, enterprise IT architecture etc.) and business related fields (project, process, change MGMT etc.). This site is an experiment to write (*and ramble on*) about my professional life.
    </div>

    <div class="col-md-6 text-justify-md" data-markdown>
I'm currently out of work, but expecting to get started full-time in the near future *(<a {{> emailData}}>anywhere! go ahead and catch my interest</a>)*. In the meantime, I'm very much into open source projects, contribute here and there and working on some small projects (e.g. [SJgrabber](http://majodev.github.io/sjgrabber)). I love well documented, tested and maintainable code bases. My preferred programming language at the moment is JavaScript, but I've also had a hell of a time with AS3/Flex, C, C# and Java *(and unfortunately VB)*.
    </div>

  </div>

  <div class="text-left text-center-md row index-text-wrap">

    <div class="col-md-5 text-justify-md" data-markdown>
Beware, I'm **not** a typical frontend dev by any means. Abstracting and optimizing lies in my very nature! Data modeling, code decoupling, applying design patterns, tooling, testing and deploying is what I do and love.
    </div>

    <div class="col-md-7 text-justify-md" data-markdown>
Apart from my professional life, I have a weakness for weird / experimental music (I'm a big Mike Patton and Trent Reznor fan), hot 'n' spicy food, beautiful beaches and indie / retro (SNES style) games. Furthermore I play the guitar (mediocre) and the piano (poorly) and skim through tekkie / startup related articles everyday.
    </div>

  </div>

  {{!-- <hr> --}}

  <h2 class="linedSeparator">TL;DR</h2>

  <div class="row text-center">

    <div class="col-md-8 col-md-offset-2"><p class="index-text-summary">{{!-- <strong>TL;DR</strong><br> --}}<span class="text-nowrap">information manager</span>, <span class="text-nowrap"><a href="http://www.fh-joanneum.at/aw/home/Studienangebot_Uebersicht/department_angewandte_informatik/aim/Menschen/AbsolventInnen_Master_DI_/~cpam/aim_absolventinnenMA_2011/?lan=en">DI (MSc equiv.)</a> &amp; <a href="https://www.fh-joanneum.at/aw/home/Studienangebot_Uebersicht/department_angewandte_informatik/ima/Menschen/AbsolventInnen/~cfle/ima_absolventinnenBA_2008/?lan=en">BSc</a></span>, <span class="text-nowrap">full stack engineer</span>, <span class="text-nowrap">wannabe entrepreneur</span>, <span class="text-nowrap">mediocre guitar player</span>, <span class="text-nowrap">above average nerd</span></p></div>

  </div>
  
  <h2 class="linedSeparator">Contact</h2>

  {{> contactButtons}}

</div>

<div class="index_foot">
  {{> noteLatest}}
</div>