<div class="block-contactButtons text-center">

  <ul class="list-inline">
    <li><a class="btn btn-primary btn-lg" role="button" {{> emailData}}><i class="fa fa-paper-plane"></i>&nbsp;say hello</a></li>
    <li><a class="btn btn-primary btn-lg" role="button" href="http://twitter.com/{{_authorTwitter}}"><i class="fa fa-twitter fa-lg"></i>{{!-- &nbsp;@{{_authorTwitter}} --}}</a></li>
    <li><a class="btn btn-primary btn-lg" role="button" href="http://github.com/majodev"><i class="fa fa-github fa-lg"></i></a></li>
    <li><a class="btn btn-primary btn-lg" role="button" href="http://at.linkedin.com/in/marioranftl"><i class="fa fa-linkedin fa-lg"></i></a></li>
    <li><a class="btn btn-primary btn-lg" role="button" href="http://www.youtube.com/user/majodev"><i class="fa fa-youtube fa-lg"></i></a></li>
    <li><a class="btn btn-primary btn-lg" role="button" href="/feed.xml"><i class="fa fa-rss fa-lg"></i>&nbsp;subscribe</a></li>
  </ul>

</div>