{{#if disqus.enabled}}
{{#and published uid}}
<span class="block-disqusCommentCount">{{!-- <i class="fa fa-comment"></i>&nbsp; --}}<a href="{{_absoluteUrl}}{{path}}#disqus_thread" data-disqus-identifier="{{uid}}">0 Comments</a></span>
{{else}}
<span class="block-disqusCommentCount">0 Comments</span>
{{/and}}
{{/if}}