{{#or isPage isSubpage}}<span class="block-navBrandMobile">{{>breadcrumbSeparator}} {{uppercase title}}</span>{{/or}}
{{#if isNote}}<span class="block-navBrandMobile">{{>breadcrumbSeparator}} NOTES</span>{{/if}}