{{#or isPage isSubpage}}<span class="block-navBrandMobile">{{>breadcrumbSeparator}} {{>navIcon}}{{uppercase title}}</span>{{/or}}
{{#if isNote}}<span class="block-navBrandMobile">{{>breadcrumbSeparator}} {{>navIcon}}NOTES</span>{{/if}}