{{#or isPage isSubpage}}<span class="visible-xs block-navBrandMobile">{{>breadcrumbSeparator}} {{uppercase title}}</span>{{/or}}
{{#if isNote}}<span class="visible-xs block-navBrandMobile">{{>breadcrumbSeparator}} NOTES</span>{{/if}}