{{#or isPage isSubpage}}<span class="block-navBrandMobile">{{>breadcrumbSeparator}} <span class="block-navBrandMobileInner">{{>navIcon}}{{uppercase title}}</span></span>{{/or}}
{{#if isNote}}<span class="block-navBrandMobile">{{>breadcrumbSeparator}} <span class="block-navBrandMobileInner">{{>navIcon}}NOTES</span></span>{{/if}}