<div class="block-noteAboutAuthor">
  <h2 class="linedSeparator"><i class="fa fa-user"></i>&nbsp;&nbsp;About the author</h2>
  <p class="small">Mario Ranftl is a dedicated Austrian IT professional with considerable experience in a range of software development environments and a specialisation in web technologies.</p>
</div>