<div class="block-noteInfo">
  <h5><time datetime="{{date}}">{{formattedDate}}</time> {{!-- · by <a href="/contact/">Mario Ranftl</a>  --}}· {{> tagList}} · {{> noteReadingInfo}}</h5>
  <hr class="small">
</div>