<div class="block-noteAboutAuthor">
  <h2 class="linedSeparator"><i class="fa fa-user"></i>&nbsp;&nbsp;About the author</h2>
  {{!-- <div class="row"> --}}
   {{!--  <div class="col-md-5 col-lg-5 col-sm-3 col-xs-4">
      <img src="/assets/img/me_photo.jpg">
    </div> --}}
    {{!-- <div class="col-md-7 col-lg-7 col-sm-9 col-xs-8"> --}}
      {{> noteAuthorMiniPicture}}
      <p class="small"><a href="/#hello">Mario Ranftl</a> is a dedi&shy;cated Aus&shy;trian senior soft&shy;ware en&shy;gi&shy;neer with con&shy;sider&shy;able ex&shy;peri&shy;ence in a range of soft&shy;ware develop&shy;ment en&shy;viron&shy;ments and a special&shy;ization in web tech&shy;nologies. He con&shy;trib&shy;utes to Open Source pro&shy;jects on <a href="https://github.com/majodev">GitHub</a> and loves to cre&shy;atively solve chal&shy;lenging prob&shy;lems. You can easily reach him via <a {{>emailData}}>Email</a>.</p>
      {{!-- {{> contactButtons}} --}}
    {{!-- </div> --}}
  {{!-- </div> --}}
</div>