<div class="block-noteNavigator row">
  <div class="col-xs-12 col-sm-6">
    {{#if next}}
      <div class="text-center-xs text-left-sm">
        <a href="/{{ next.path }}">&larr; {{ next.title }}</a>
      </div>
    {{/if}}
  </div>
  <div class="col-xs-12 col-sm-6">
    {{#if previous}}
      <div class="text-center-xs text-right-sm">
        <a href="/{{ previous.path }}">{{ previous.title }} &rarr;</a>
      </div>
    {{/if}}
  </div>
</div>