<article class="block-noteArticleItem">
  <div class="block-noteArticleItem-inner">
    <a href="/{{path}}"></a>
    {{> noteItem}}
    {{> firstparagraph}}
  </div>
  {{!--<p class="no-margin no-padding">{{> noteLink}} · {{> tagList}} · {{> noteCommentCount}} · {{> noteReadingInfo}}</p>--}}
  <p class="no-margin no-padding">{{> noteLink}}</p>
</article>