<div class="block-noteLatest">
  <h2 class="linedSeparator">{{!-- <i class="fa fa-puzzle-piece"></i>&nbsp;&nbsp; --}}Recent notes</h2>
  {{#if notes}}
    <div class="container-fluid text-left">
    {{#each_upto notes 3}}
      {{> noteItemSmall}}
    {{/each_upto}}
    </div>
  {{else}}
    <p>-</p>
  {{/if}}
</div>