{{#if related}}
<div class="block-noteRelated">
<h2 class="linedSeparator"><i class="fa fa-puzzle-piece"></i>&nbsp;&nbsp;Related notes</h2>
  {{#each related}}
    {{#withuid this}}
      {{!-- {{> noteArticleItem}} --}}
      {{!-- {{> noteItemSmall}} --}}
      <a href="/{{ path }}">{{ title }}</a>
    {{/withuid}}
    {{!-- {{#unless @last}}
    <hr class="small sym">
    {{/unless}} --}}
  {{/each}}
{{!-- {{else}}
<p>Some notes are special. Pick <a href="{{#withuid "page_notes"}}/{{path}}{{/withuid}}"> another one</a>.</p> --}}
</div>
{{/if}}