<div class="block-noteItem row">
  <div class="col-sm-3 col-sm-push-9 text-right-sm noteDate">{{> noteDate}}</div>
  <div class="col-sm-9 col-sm-pull-3 noteTitle"><h4 class="no-margin">{{ title }}{{#if subtitle}}<br><small>{{subtitle}}</small>{{/if}}</h4></div>
</div>