<div class="block-noteItem row">
  <div class="col-sm-3 col-sm-push-9 text-right-sm">{{> noteDate}}</div>
  <div class="col-sm-9 col-sm-pull-3"><h3 class="no-margin"><a href="/{{ path }}">{{ title }}</a></h3>{{!-- <small>{{>tagList}} {{> noteReadingInfo}}</small> --}}</div>
</div>