<div class="block-noteBreadcrumb">
  <div class="container-fluid">
    <ol class="breadcrumb container-fluid">
      <li><a href="/notes/">NOTES</a></li>
      <li class="active">{{title}}</li>
    </ol>
  </div>
</div>