{{#if disqus.enabled}}
  {{#if published}}
    {{#if uid}}
      <span class="block-noteCommentCount text-nowrap" data-disqus-url="{{pathuri}}"><a href="{{pathuri}}#disqus_thread">comments</a></span>
    {{else}}
      <span class="block-noteCommentCount text-nowrap">No uid</span>
    {{/if}}
  {{else}}
    <span class="block-noteCommentCount text-nowrap">Not public</span>
  {{/if}}
{{/if}}