<div class="block-socialShare text-center">
  <p class="lead no-margin no-padding"><em>Like</em> this note? Awesome! <em>Share</em> it!</p>
  <a class="btn btn-default"><i class="fa fa-twitter fa-lg"></i></a>
  <a class="btn btn-default"><i class="fa fa-facebook fa-lg"></i></a>
  <a class="btn btn-default"><i class="fa fa-linkedin fa-lg"></i></a>

  <p class="lead no-margin no-padding">Got questions? <a href="http://twitter.com/majodev">Tweet</a> it or <a href="mailto:{{_mail}}">mail</a> me!</p>

</div>