<div class="block-socialShare text-center">
  {{!-- <div class="row">
    <div class="col-xs-3">
      <p class="text-right">Like it? Share it!</p>
    </div>
    <div class="col-xs-3">
      <a class="btn btn-default btn-block"><i class="fa fa-twitter fa-2x"></i></a>
    </div>
    <div class="col-xs-3">
      <a class="btn btn-default btn-block"><i class="fa fa-linkedin fa-2x"></i></a>
    </div>
    <div class="col-xs-3">
      <a class="btn btn-default btn-block"><i class="fa fa-facebook fa-2x"></i></a>
    </div>
  </div> --}}

  <p class="lead no-margin no-padding"><em>Like</em> this note? Awesome! <em>Share</em> it!</p>
  <a class="btn btn-default"><i class="fa fa-twitter fa-lg"></i></a>
  <a class="btn btn-default"><i class="fa fa-facebook fa-lg"></i></a>
  <a class="btn btn-default"><i class="fa fa-linkedin fa-lg"></i></a>

  {{!-- <i class="fa fa-twitter fa-2x"></i>
  <i class="fa fa-linkedin fa-2x"></i>
  <i class="fa fa-facebook fa-2x"></i> --}}
</div>