---
title: Legal
template: default.hbs
sequence: 3
published: true
customMetaDescription: "Mario Ranftl's legal page. Notice in compliance with ยง25 Mediengesetz Austria (IMPRESSUM). How I eat your cookies..."
customMetaKeywords:
- cookies
- impressum
- austria law
- Mediengesetz
- legal notice
- private individual
- DI Mario Ranftl BSc
- privacy
- google analytics
- disqus
- fashioncock
---

<p><i class="fa fa-copyright"></i> {{dateFormatYear _builddate}} {{_author}} | {{> twitterLink}}</p>

<section data-markdown>
The opinions expressed herein are **exclusively my own personal opinions** and do not represent my employer's view in any way.

{{_author}} is not responsible for externally hosted material, including linked articles, photos or any other media.

If you have a strong wish to inform me about your latest RayBan discounts, Viagra offerings or penis enlargement therapies, please do not hesitate to spam [fashioncock@mranftl.com](mailto:fashioncock@mranftl.com).

</section>

<hr class="small">

{{!-- https://www.usp.gv.at/Portal.Node/usp/public/content/gruendung/gruendung_online-shop/website/Seite.70064.html --}}
{{!-- Legal info austria:
Name oder Firma der Medieninhaberin/des Medieninhabers,
Unternehmensgegenstand,
Wohnort oder Sitz (Niederlassung) der Medieninhaberin/des Medieninhabers. --}}

<section>

  <h4>Legal notice in compliance with <em><a href="https://www.usp.gv.at/Portal.Node/usp/public/content/brancheninformationen/information_und_kommunikation_offenlegungspflicht/49735.html">ยง25 Mediengesetz</a></em> Austria</h4>

  <address>
    <dl>
      <dt>Full name</dt>
      <dd>DI Mario Ranftl, BSc</dd>
      <dt>Type</dt>
      <dd>Private individual</dd>
      <dt>Residence</dt>
      <dd>Graz, Austria</dd>
      <dt>Contact</dt>
      <dd>{{> emailLink}}</dd>
    </dl>
  </address>

</section>
<hr class="small">

<section data-markdown>
#### Privacy
*"How I eat your cookies? Raw, no milk!"*

##### Google Analytics
This site uses [Google Universal Analytics](https://support.google.com/analytics/answer/2790010?hl=en) to keep track of its traffic. This service employs cookies to define user sessions. You can find [their privacy policy here](https://www.google.at/url?sa=t&rct=j&q=&esrc=s&source=web&cd=2&cad=rja&uact=8&ved=0CCkQFjAB&url=http%3A%2F%2Fwww.google.com%2Fpolicies%2Fprivacy%2F&ei=XdspVJ6DBpPhaIjngqAB&usg=AFQjCNEc1Z-4GangxLgZKDvUQKrPQNeW3g&bvm=bv.76247554,d.d2s).

##### Disqus
Comments within notes are requested and embedded using the service [Disqus](https://disqus.com/). You can find [their privacy policy here](https://help.disqus.com/customer/portal/articles/466259-privacy-policy).
</section>