---
uid: page_index
title: About me
template: plain.hbs
published: true
---



<div class="jumbotron">
  <h1 class="text-center letter-spacing-3"><small></small>{{_author}}<small></small></h1>
  <p class="text-center"><img src="/assets/img/twitter_pic_quad_500x500.png" height="250px" width="250px"></p>
  <p class="text-center">full stack engineer, entrepreneur wanna-be, abstractor, generalist, nerd, indie gamer, graduated information management MSc BSc</p>
  <p class="text-center"><a class="btn btn-primary btn-lg" role="button"><i class="fa fa-paper-plane"></i>&nbsp;say hello</a>&nbsp;<a class="btn btn-primary btn-lg" role="button"><i class="fa fa-twitter"></i>&nbsp;@majodev</a></p>
</div>
{{!-- <p>
The best ways to get in touch with me are via twitter or email (in that order).
[email](mailto:mario@ranf.tl)
ASDFASDF
If you think you got something interesting to share, feel free to get in touch with me via Twitter or Email.
On the other hand if you have a strong wish to sell Viagra or Cialis at discount prices you should most definitely contact spam@spam.com and I'll thank you for your prosper business.
Also, I'm very interested hearing about your 4 billion dollar fortune stuck in some Bank located in Kongo or Nigeria and how awful is the life of some Ghanian princess after her father's death, in either case again please do not hesitate to contact spam@spam.com.
</p> --}}