---
title: Home
template: plain.hbs
scripts:
- index.js
---

<canvas id=pixie></canvas>

{{!-- <p>
Welcome to my page, **asshole!**
*Fuck off.* NOW!
Mario Ranftl
full stack engineer, entrepreneur wanna-be, abstractor, generalist, nerd, indie gamer, graduated information management MSc BSc
</p> --}}

