---
title: Home
template: plain.hbs
scripts:
- index.js
---

{{!-- <canvas id=pixie></canvas> --}}

{{!-- <p>
Welcome to my page, **asshole!**
*Fuck off.* NOW!
Mario Ranftl
full stack engineer, entrepreneur wanna-be, abstractor, generalist, nerd, indie gamer, graduated information management MSc BSc
</p> --}}

<div class="jumbotron">
  {{!-- <div class="container-fluid"> --}}
    <h1>{{_author}}</h1>
    <p>full stack engineer, entrepreneur wanna-be, abstractor, generalist, nerd, indie gamer, graduated information management MSc BSc</p>
    <p><a class="btn btn-primary btn-lg" role="button"><i class="fa fa-twitter"></i>&nbsp;@majodev</a> <a class="btn btn-primary btn-lg" role="button"><i class="fa fa-paper-plane"></i>&nbsp;say hello</a></p>
  {{!-- <div> --}}
</div>