---
uid: page_notes
title: Notes
template: default.hbs
sequence: 2
published: true
customMetaDescription: "Overview of all the notes Mario Ranftl has written and published to The Internets."
customMetaKeywords:
- notes
- blog
- published
- ideas
- overview
- list
---
{{#if notes}}
<p>This is a list of all of the notes I have written which are available for public viewing.</p>
<hr class="small">
<div class="notes">
  {{#each notes}}
    {{> noteArticleItem}}
    {{#unless @last}}
    <hr class="small sym">
    {{/unless}}
  {{/each}}
</div>
{{else}}
<p>Sorry, no published notes.</p>
{{/if}}