---
title: notes
template: default.hbs
sequence: 1
---

<p>This is a list of all of the posts I have written which are available for public viewing.</p>

<div class="notes">
  {{#each notes}}
    <article>
      {{> noteItem}}
      {{> firstparagraph}}
      <a class="fontsize-small" href="/{{path}}">{{!-- <i class="fa fa-book"></i>&nbsp; --}}read this note</a>
    </article>
  {{/each}}
</div>