---
uid: page_notes
title: Notes
template: default.hbs
sequence: 2
published: true
---
{{#if notes}}
<p>This is a list of all of the notes I have written which are available for public viewing.</p>
<hr class="small">
<div class="notes">
  {{#each notes}}
    {{> noteArticleItem}}
  {{/each}}
</div>
{{else}}
<p>Sorry, no published notes.</p>
{{/if}}