@color-nprogress: @color-links;
@color-nprogress-spinner: @color-links-hover;

@nprogress-height: 2px;

@nprogress-spinner-tickness: 8px;
@nprogress-spinner-dimensions: 42px;

@nprogress-spinner-offset-top: (50px - @nprogress-spinner-dimensions) / 2;
@nprogress-spinner-offset-left: 10px + ((50px - @nprogress-spinner-dimensions) / 2);

@nprogress-opacity: 1;
@nprogress-spinner-opacity: 0.75;

@nprogress-z-index: @zindex-navbar-fixed + 1;
@nprogress-z-index-spinner: @zindex-navbar-fixed + 1;

@header-offset-height: @nprogress-height; //@header-nav-height + @header-bar-height;
@nprogress-positioning: fixed; //absolute;

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: @color-nprogress;
  position: @nprogress-positioning;
  z-index: @nprogress-z-index;
  top: (@header-offset-height - @nprogress-height);
  left: 0px;
  width: 100%;
  height: @nprogress-height;
  opacity: @nprogress-opacity;
}

/* Fancy blur effect (for top spinner line)*/
// #nprogress .peg {
//   display: block;
//   position: @nprogress-positioning;
//   right: 0px;
//   width: 100px;
//   height: 100%;
//   box-shadow: 0 0 10px @color-nprogress, 0 0 5px @color-nprogress;
//   opacity: 1.0;

//   -webkit-transform: rotate(3deg) translate(0px, -4px);
//       -ms-transform: rotate(3deg) translate(0px, -4px);
//           transform: rotate(3deg) translate(0px, -4px);
// }


.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: @nprogress-positioning;
}

// default spinner

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: @nprogress-positioning;
  left: @nprogress-spinner-offset-left;
  top: @nprogress-spinner-offset-top;
  z-index: @nprogress-z-index-spinner;
}

#nprogress .spinner-icon {
  z-index: @nprogress-z-index-spinner;
  width: @nprogress-spinner-dimensions;
  height: @nprogress-spinner-dimensions;
  box-sizing: border-box;

  border: solid @nprogress-spinner-tickness transparent;
  border-top-color: @color-nprogress-spinner;
  border-left-color: @color-nprogress-spinner;

  // border-bottom: @nprogress-spinner-tickness solid @color-nprogress-spinner;
  // border-left: @nprogress-spinner-tickness solid @color-nprogress-spinner;
  // border-top: @nprogress-spinner-tickness solid @color-nprogress-spinner;
  // border-right: @nprogress-spinner-tickness solid fade(@color-nprogress-spinner, 10%);

  border-radius: 50%;
  opacity: @nprogress-spinner-opacity;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}


@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
