@nprogress-height: 1px;
@nprogress-spinner-tickness: 3px;
@nprogress-spinner-dimensions: 8px;
@nprogress-spinner-offset: 5px;
@nprogress-opacity: 1;
@nprogress-color: @color-nav;

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: @nprogress-color;
  position: fixed;
  z-index: 1031;
  top: 0px;
  left: 0px;
  width: 100%;
  height: @nprogress-height;
  opacity: @nprogress-opacity;
}

/* Fancy blur effect (for bottom spinner-line! )*/
// #nprogress .peg {
//   display: block;
//   position: absolute;
//   right: 0px;
//   width: 100px;
//   height: 100%;
//   box-shadow: 0 0 10px @nprogress-color, 0 0 5px @nprogress-color;
//   opacity: 1.0;

//   -webkit-transform: rotate(-3deg) translate(0px, 4px);
//       -ms-transform: rotate(-3deg) translate(0px, 4px);
//           transform: rotate(-3deg) translate(0px, 4px);
// }

/* Fancy blur effect (for top spinner line)*/
// #nprogress .peg {
//   display: block;
//   position: absolute;
//   right: 0px;
//   width: 100px;
//   height: 100%;
//   box-shadow: 0 0 10px @nprogress-color, 0 0 5px @nprogress-color;
//   opacity: 1.0;

//   -webkit-transform: rotate(3deg) translate(0px, -4px);
//       -ms-transform: rotate(3deg) translate(0px, -4px);
//           transform: rotate(3deg) translate(0px, -4px);
// }

/* Remove these to get rid of the spinner */
// #nprogress .spinner {
//   // normal...
//   display: block;
//   position: fixed;
//   //bottom: @nprogress-spinner-offset + @nprogress-height;
//   //right: @nprogress-spinner-offset;
//   left: @nprogress-spinner-offset;
//   top: @nprogress-spinner-offset + @nprogress-height;
//   z-index: 1031;
  
//   // centering...
//   // margin: auto;
//   // position: fixed;
//   // width: @nprogress-spinner-dimensions;
//   // height: @nprogress-spinner-dimensions;
//   // top: 0; 
//   // left: 0; 
//   // bottom: 0; 
//   // right: 0;
// }

// #nprogress .spinner-icon {
//   width: @nprogress-spinner-dimensions;
//   height: @nprogress-spinner-dimensions;
//   box-sizing: border-box;

//   border: solid @nprogress-spinner-tickness transparent;
//   border-top-color: @nprogress-color;
//   border-left-color: @nprogress-color;
//   border-radius: 50%;
//   opacity: 0.2;

//   -webkit-animation: nprogress-spinner 400ms linear infinite;
//           animation: nprogress-spinner 400ms linear infinite;
// }

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

//.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

// @-webkit-keyframes nprogress-spinner {
//   0%   { -webkit-transform: rotate(0deg); }
//   100% { -webkit-transform: rotate(360deg); }
// }
// @keyframes nprogress-spinner {
//   0%   { transform: rotate(0deg); }
//   100% { transform: rotate(360deg); }
// }

