.headroom {
  transition-duration: 200ms;
  transition-timing-function: linear; //cubic-bezier(0.165,0.630,0.140,0.820);
  transition-property: transform, box-shadow;
}

.headroom--pinned {
  // transform: translateY(0%);
  // box-shadow: 0 1px 5px rgba(0,0,0,.3);
}

.headroom--unpinned {
  // transform: translateY(-100%);
  // box-shadow: none;
  // box-shadow: 0 1px 5px rgba(0,0,0,.3);
}

.headroom--not-top {
  box-shadow: 0 1px 5px rgba(0,0,0,.3);
}

.headroom--top {
  box-shadow: none;
}

.headroom-forceShow {
  transition: none !important;
  transform: translateY(0%) !important;
}