// -----------------------------------------------------------------------------
hr {
  height: 0px;
  border-bottom: 1px solid rgba(181,203,209,0.5);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

hr.small {
  border: 0;
  background-color: rgba(181,203,209,0.5);
  height: 1px;
  margin: 3px 0 18px 0;
  width: 48px;
}

hr.sym {
  margin: 18px 0 18px 0 !important;
}