@font-face {
	font-family: 'PT Serif';
	font-style: normal;
	font-weight: 400;
	src:
		local('PT Serif'),
		local('PTSerif-Regular'),
		/* from http://fonts.gstatic.com/s/ptserif/v8/0Om6Iw1e323HjeZHy8W4rfesZW2xOQ-xsNqO47m55DA.eot */
		url('../fonts/PT_Serif_400.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/ptserif/v8/sDRi4fY9bOiJUbgq53yZCfesZW2xOQ-xsNqO47m55DA.woff */
		url('../fonts/PT_Serif_400.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/ptserif/v8/EgBlzoNBIHxNPCMwXaAhYPesZW2xOQ-xsNqO47m55DA.ttf */
		url('../fonts/PT_Serif_400.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=zSUbs06MuKAdU7m-SV4ok_esZW2xOQ-xsNqO47m55DA#PTSerif */
		url('../fonts/PT_Serif_400.svg#PTSerif') format('svg');
}
@font-face {
	font-family: 'PT Serif';
	font-style: italic;
	font-weight: 400;
	src:
		local('PT Serif Italic'),
		local('PTSerif-Italic'),
		/* from http://fonts.gstatic.com/s/ptserif/v8/03aPdn7fFF3H6ngCgAlQzFQlYEbsez9cZjKsNMjLOwM.eot */
		url('../fonts/PT_Serif_400italic.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/ptserif/v8/03aPdn7fFF3H6ngCgAlQzBsxEYwM7FgeyaSgU71cLG0.woff */
		url('../fonts/PT_Serif_400italic.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/ptserif/v8/03aPdn7fFF3H6ngCgAlQzC3USBnSvpkopQaUR-2r7iU.ttf */
		url('../fonts/PT_Serif_400italic.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=03aPdn7fFF3H6ngCgAlQzKWUboTb-jS2tyCOQMtm97g#PTSerif */
		url('../fonts/PT_Serif_400italic.svg#PTSerif') format('svg');
}
@font-face {
	font-family: 'PT Serif';
	font-style: normal;
	font-weight: 700;
	src:
		local('PT Serif Bold'),
		local('PTSerif-Bold'),
		/* from http://fonts.gstatic.com/s/ptserif/v8/QABk9IxT-LFTJ_dQzv7xpGfQcKutQXcIrRfyR5jdjY8.eot */
		url('../fonts/PT_Serif_700.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/ptserif/v8/QABk9IxT-LFTJ_dQzv7xpIbN6UDyHWBl620a-IRfuBk.woff */
		url('../fonts/PT_Serif_700.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/ptserif/v8/QABk9IxT-LFTJ_dQzv7xpJ0EAVxt0G0biEntp43Qt6E.ttf */
		url('../fonts/PT_Serif_700.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=QABk9IxT-LFTJ_dQzv7xpHNsigHlcrQGNV8nkUSFQfc#PTSerif */
		url('../fonts/PT_Serif_700.svg#PTSerif') format('svg');
}
@font-face {
	font-family: 'PT Serif';
	font-style: italic;
	font-weight: 700;
	src:
		local('PT Serif Bold Italic'),
		local('PTSerif-BoldItalic'),
		/* from http://fonts.gstatic.com/s/ptserif/v8/Foydq9xJp--nfYIx2TBz9Wzklk6MJbhg7BmBP42CjCQ.eot */
		url('../fonts/PT_Serif_700italic.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/ptserif/v8/Foydq9xJp--nfYIx2TBz9QFhaRv2pGgT5Kf0An0s4MM.woff */
		url('../fonts/PT_Serif_700italic.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/ptserif/v8/Foydq9xJp--nfYIx2TBz9fEr6Hm6RMS0v1dtXsGir4g.ttf */
		url('../fonts/PT_Serif_700italic.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=Foydq9xJp--nfYIx2TBz9T9QLNJZUvW8xv4RpDkyVDQ#PTSerif */
		url('../fonts/PT_Serif_700italic.svg#PTSerif') format('svg');
}
@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	src:
		local('PT Sans'),
		local('PTSans-Regular'),
		/* from http://fonts.gstatic.com/s/ptsans/v8/S1YQx4pVZa17uu0HWQd2fA.eot */
		url('../fonts/PT_Sans_400.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/ptsans/v8/LKf8nhXsWg5ybwEGXk8UBQ.woff */
		url('../fonts/PT_Sans_400.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/ptsans/v8/FUDHvzEKSJww3kCxuiAo2A.ttf */
		url('../fonts/PT_Sans_400.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=-W_xG__5QLePeHob2L7z1Q#PTSans */
		url('../fonts/PT_Sans_400.svg#PTSans') format('svg');
}
@font-face {
	font-family: 'PT Sans';
	font-style: italic;
	font-weight: 400;
	src:
		local('PT Sans Italic'),
		local('PTSans-Italic'),
		/* from http://fonts.gstatic.com/s/ptsans/v8/PIPMHY90P7jtyjpXuZ2cLPY6323mHUZFJMgTvxaG2iE.eot */
		url('../fonts/PT_Sans_400italic.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/ptsans/v8/PIPMHY90P7jtyjpXuZ2cLD8E0i7KZn-EPnyo3HZu7kw.woff */
		url('../fonts/PT_Sans_400italic.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/ptsans/v8/PIPMHY90P7jtyjpXuZ2cLKCWcynf_cDxXwCLxiixG1c.ttf */
		url('../fonts/PT_Sans_400italic.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=PIPMHY90P7jtyjpXuZ2cLJbd9NUM7myrQQz30yPaGQ4#PTSans */
		url('../fonts/PT_Sans_400italic.svg#PTSans') format('svg');
}
@font-face {
	font-family: 'PT Sans Narrow';
	font-style: normal;
	font-weight: 400;
	src:
		local('PT Sans Narrow'),
		local('PTSans-Narrow'),
		/* from http://fonts.gstatic.com/s/ptsansnarrow/v7/UyYrYy3ltEffJV9QueSi4T9sG6gyxihQGrqfBiBoCNc.eot */
		url('../fonts/PT_Sans_Narrow_400.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/ptsansnarrow/v7/UyYrYy3ltEffJV9QueSi4RdbPw3QSf9R-kE0EsQUn2A.woff */
		url('../fonts/PT_Sans_Narrow_400.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/ptsansnarrow/v7/UyYrYy3ltEffJV9QueSi4UpeNX8RPf6i6WQfJWyCWEs.ttf */
		url('../fonts/PT_Sans_Narrow_400.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=UyYrYy3ltEffJV9QueSi4Y9qashOVerhvngxLEi9cx0#PTSansNarrow */
		url('../fonts/PT_Sans_Narrow_400.svg#PTSansNarrow') format('svg');
}
@font-face {
	font-family: 'PT Sans Narrow';
	font-style: normal;
	font-weight: 700;
	src:
		local('PT Sans Narrow Bold'),
		local('PTSans-NarrowBold'),
		/* from http://fonts.gstatic.com/s/ptsansnarrow/v7/Q_pTky3Sc3ubRibGToTAYmT4ZFB4cX9NxOgt4NwF8dg.eot */
		url('../fonts/PT_Sans_Narrow_700.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/ptsansnarrow/v7/Q_pTky3Sc3ubRibGToTAYiylde52zikAzebNtJS89aM.woff */
		url('../fonts/PT_Sans_Narrow_700.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/ptsansnarrow/v7/Q_pTky3Sc3ubRibGToTAYjnFfol0SnfBMmbnmUK0fZM.ttf */
		url('../fonts/PT_Sans_Narrow_700.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=Q_pTky3Sc3ubRibGToTAYhvdA8BQHjnCxNq-aqth-mQ#PTSansNarrow */
		url('../fonts/PT_Sans_Narrow_700.svg#PTSansNarrow') format('svg');
}
