@import "bootstrap.less"; // import customized bootstrap

/* style.less */

// -----------------------------------------------------------------------------
// variables

@footer-height: 80px; //(@font-size-small * 2) + 25;
@header-height: 20px; // exclude with navbar-height!


// -----------------------------------------------------------------------------
// global positioning

.container-fluid {
  max-width: 768px;
}

html {
  position: relative; /* needed for footer! */
  min-height: 100%;
}

body {
  margin-bottom: @footer-height; /* Margin bottom by footer height */
}

body > .container-fluid {
  padding: @header-height 15px 0; /* for navbar? EVENTUALLY NOT NEEDED! */
}

// -----------------------------------------------------------------------------
// colors and background styling

body {
  background: url(/assets/img/bg_main_tile.png) repeat;
}

.footer {
  background: url(/assets/img/tex2res5.png) repeat;
  // background-color: @gray-lighter;
}

// -----------------------------------------------------------------------------
// footer positioning

body {
  margin-bottom: @footer-height; /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: @footer-height; /* Set the fixed height of the footer here */
  font-size: @font-size-small;
}

// -----------------------------------------------------------------------------
// code styling

code, pre, kbd {
  font-size: 80%;
}