<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }} | majodev.com</title>
  </head>
  <body>
    {{> header}}
    <div class="contents">{{{ contents }}}</div>
    {{> footer}}
  </body>
</html>