{{> pre}}
<div id="wrapper">
  {{> header}}
  <div class="template-default pushdown-header container-fluid uiHandlerFade">
    <main>
    <h1>{{uppercase title}}</h1>
{{> contents}}
    </main>
  </div> {{!-- end template-default --}}
</div> {{!-- end wrapper --}}
{{> footer}}
{{> post}}