{{> pre}}
{{> header}}
<div class="template-default container-fluid">
  <main>
    {{{ contents }}}
    <small>last modified on {{formattedLastModified}}</small>
  </main> {{!-- end main-content --}}
</div> {{!-- end container --}}
{{> footer}}
{{> post}}