{{> pre}}
<div id="wrapper">
  {{> header}}
  {{!-- <div class="template-default-header-border"></div> --}}
  <div class="template-default container-fluid">
    <main>
      <h1>{{uppercase title}}</h1>
      {{> contents}}
    </main>
  </div> {{!-- end template-default --}}
</div> {{!-- end wrapper --}}
{{> footer}}
{{> post}}