{{> pre}}
{{> header}}
<div class="template-default container-fluid">
  <main>
    <h1>{{uppercase title}}</h1>
    {{{ contents }}}
  </main> {{!-- end main-content --}}
</div> {{!-- end container --}}
{{> footer}}
{{> post}}