{{> pre}}
<div id="wrapper">
  {{> header}}
  <div class="template-note uiHandlerFade">
    <main>
    <article>
      <div class="container-fluid template-note-contents-wrapper">
        <div class="col-sm-12 col-md-8 col-lg-8 template-note-contents-main">
          <header class="template-note-header-wrapper">
            <div class="template-note-header">
              {{> noteNavigator}}
              {{> noteTitle}}
              {{> noteSubTitle}}
            </div>
          </header>
          <div class="template-note-contents">
{{> contents}}
          </div>
        </div>
        <div class="note-sidebar col-sm-12 col-md-4 col-lg-4">
          {{> noteAboutAuthor}}
          {{> noteShare}}
          {{> noteRelated}}
        </div>
        <footer class="template-note-footer col-xs-12">
            {{> noteComments}}
        </footer>
      </div> {{!-- end container-fluid --}}
    </article>
    </main>
  </div> {{!-- end template-note --}}
</div> {{!-- end wrapper --}}
{{> footer}}
{{> post}}