{{> pre}}
{{> noteHeader}}
<div class="template-note container-fluid">
  <main>
    {{> noteNavigator}}
    <article>
      {{> noteTitle}}
      {{> noteInfo}}
      <hr>
      {{{ contents }}}
    </article>
  </main> {{!-- end main-content --}}
</div> {{!-- end container --}}
{{> footer}}
{{> post}}