{{> pre}}
<div id="top"></div>
{{> noteHeader}}
<div class="template-note container-fluid">
  <main>
    {{!-- {{> noteNavigator}} --}}
    <article>
      {{> noteTitle}}
      {{> noteSubTitle}}
      <hr>
      {{{ contents }}}
    </article>
    {{> noteNavigator}}
    <p class="text-center lead"><a href="#top">jump to top</a></p>
  </main> {{!-- end main-content --}}
</div> {{!-- end container --}}
{{> footer}}
{{> post}}