{{> pre}}
{{!-- <div id="top"></div> --}}
{{> header}}
{{> noteBreadcrumb}}
<div class="template-note">
  <main>
    <article>
      <div class="template-note-header">
        <div class="container-fluid"> 
          {{> noteNavigator}}
          {{> noteTitle}}
          {{> noteSubTitle}}
          {{!-- {{> socialShare}} --}}
        </div>
      </div>
      <div class="template-note-contents">
        <div class="container-fluid">
          {{> contents}}
          {{> socialShare}}
        </div>
      </div>
    </article>
  </main> {{!-- end main-content --}}
  {{!-- <p class="text-center lead"><a href="#top">jump to top</a></p> --}}
</div> {{!-- end container --}}
{{> footer}}
{{> post}}