{{> pre}}
<div id="wrapper">
  {{> header}}
  <div class="template-note pushdown-header uiHandlerFade">
    <main>
    <article>
      <div class="template-note-header-wrapper">
        <div class="template-note-header container-fluid">
          {{> noteNavigator}}
          {{> noteTitle}}
          {{> noteSubTitle}}
        </div>
      </div>
      <div class="template-note-contents container-fluid">
{{> contents}}
      </div>
      <div class="template-note-footer container-fluid">
        <hr>
        {{> disqus}}
        <hr>
        {{> contactButtons}}
      </div>
    </article>
    </main>
  </div> {{!-- end template-note --}}
</div> {{!-- end wrapper --}}
{{> footer}}
{{> post}}