{{> pre}}
<div id="wrapper">
  {{> header}}
  <div class="template-plain pushdown-header">
    <main>
{{> contents}}
    </main>
  </div> {{!-- end template-plain --}}
</div> {{!-- end wrapper --}}
{{> footer}}
{{> post}}