---
title: notes
template: default.hbs
sequence: 2
---

<div class="notes">
  {{#each collections.notes}}
    <p><a href="/{{ path }}">{{ title }} </a> -- {{ formattedDate }}{{#if tags}} -- {{> tags}}{{/if}}</p>
  {{/each}}
</div>