---
title: tags
template: default.hbs
sequence: 7
---

# {{title}}

<div class="notes">
  {{#each tags}}
    <h2>{{@key}}</h2>
    {{#each this}}
      <a href=/{{path}}>{{title}}</a><br />
    {{/each}}
  {{/each}}
</div>