---
title: Legal
template: default.hbs
sequence: 3
published: true
---

<p><i class="fa fa-copyright"></i> {{_year}} {{_author}} | {{> twitterLink}}</p>

<div data-markdown>
The opinions expressed herein are **exclusively my own personal opinions** and do not represent my employer's view in any way.

{{_author}} is not responsible for externally hosted material, including linked articles, photos or any other media.
</div>

{{!-- https://www.usp.gv.at/Portal.Node/usp/public/content/gruendung/gruendung_online-shop/website/Seite.70064.html --}}
{{!-- Legal info austria:
Name oder Firma der Medieninhaberin/des Medieninhabers,
Unternehmensgegenstand,
Wohnort oder Sitz (Niederlassung) der Medieninhaberin/des Medieninhabers. --}}

<hr class="small">

<h4>Legal notice in compliance with <em><a href="https://www.usp.gv.at/Portal.Node/usp/public/content/brancheninformationen/information_und_kommunikation_offenlegungspflicht/49735.html">ยง25 Mediengesetz</a></em> Austria</h4>

<address>
  <dl>
    <dt>Full name</dt>
    <dd>DI Mario Ranftl, BSc</dd>
    <dt>Type</dt>
    <dd>Private individual</dd>
    <dt>Residence</dt>
    <dd>Graz, Austria</dd>
    <dt>Legal affairs contact</dt>
    <dd>L&nbsp;E&nbsp;G&nbsp;A&nbsp;L&nbsp;[AT]&nbsp;R&nbsp;A&nbsp;N&nbsp;F&nbsp;[DOT]&nbsp;T&nbsp;L</dd>
  </dl>
</address>