---
title: tags
template: default.hbs
sequence: 3
setHeadingsIDs: true
---

{{!-- <div class="tagCloud">
  {{#each _sortedTags}}
    <a href="#{{tag}}" style="font-size: {{multiply 7 children.length }}px">#{{tag}}</a>
  {{/each}}
</div> --}}

<div class="tags">
  {{#each _sortedTags}}
    {{> tagItemHeader}}
    {{#withSortReverse children "date"}}
      {{> noteItemSmall}}
    {{/withSortReverse}}
  {{/each}}
</div>