---
title: Media
template: default.hbs
sequence: 3
published: true
includeMetadata:
- fileLinks.json
lightbox: true
customMetaDescription: "Download media files (e.g. papers, software, resume) by Mario Ranftl from this media page."
customMetaKeywords:
- media
- download
- thesis
- papers
- software
- resume
scripts:
- media.js
wrapperColFullWidth: true
---

<div id="masonryContainer">
  {{#each fileLinks}}
    <div class="masonryItem col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-4 col-md-offset-0 col-lg-3 col-lg-offset-0">
      {{> mediaThumbnail}}
    </div>
  {{/each}}
</div>
