---
title: Media
template: default.hbs
sequence: 3
published: true
includeMetadata:
- fileLinks.json
lightbox: true
customMetaDescription: "Download media files (e.g. papers, software, resume) by Mario Ranftl from this media page."
customMetaKeywords:
- media
- download
- thesis
- papers
- software
- resume
---


{{!-- {{#each fileLinks}}
  <div class="col-xs-6 col-xs-offset-0 col-sm-4 col-sm-offset-0">
    {{> mediaThumbnail}}
  </div>
{{/each}} --}}

{{!-- <div class="row">
  <div class="col-sm-6 col-xs-10 col-xs-offset-1 col-sm-offset-0">
    {{#each fileLinks}}
      {{#if_even @index}}
        {{> mediaThumbnail}}
      {{/if_even}}
    {{/each}}
  </div>
  <div class="col-sm-6 col-xs-10 col-xs-offset-1 col-sm-offset-0">
    {{#each fileLinks}}
      {{#if_even @index}}
      {{else}}
        {{> mediaThumbnail}}
      {{/if_even}}
    {{/each}}
  </div>
</div> --}}

<div class="row hidden-xs">
  <div class="col-sm-6 col-sm-offset-0">
    {{#each fileLinks}}
      {{#if_even @index}}
        {{> mediaThumbnail}}
      {{/if_even}}
    {{/each}}
  </div>
  <div class="col-sm-6 col-sm-offset-0">
    {{#each fileLinks}}
      {{#if_even @index}}
      {{else}}
        {{> mediaThumbnail}}
      {{/if_even}}
    {{/each}}
  </div>
</div>

<div class="row hidden-sm hidden-md hidden-lg">
  {{#each fileLinks}}
    <div class="col-xs-10 col-xs-offset-1">
      {{> mediaThumbnail}}
    </div>
  {{/each}}
</div>